html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1 {
  width: 100%;
  margin: 0;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}
th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  background-color: cadetblue; 
  transition: background-color 0.3s ease, color 0.3s ease;
}
button {
  background-color: #2ec4b6;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  background-color: cadetblue;
  border-radius: 30px;
  padding: 8px 16px;
}

.search-container input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 16px;
  padding: 8px;
  outline: none;
}

.search-container button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
/* Hover fent */
th:hover, td:hover {
  background-color: lightseagreen; /* új szín hoverre */
    border-radius: 50px; /* ovális forma */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
}


/* Oldalpanel */
#sidePanel {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #2ec4b6;
  box-shadow: -1px 0 5px rgba(0,0,0,0.2); /* finomabb árnyék */
  transition: right 0.3s ease;
  padding: 20px;
  color: white;
  z-index: 9999;
  overflow-y: auto;
  box-sizing: border-box;
}

#sidePanel.active {
  right: 0;
}
.header-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: #0077cc;
}
.szin{
color: black;
}